# Semester Project Portfolio Optimization Spring 2019
Jens Weinekötter, Timothson Peterson

In [1]:
# Import packages
import pandas as pd
import numpy as np
import gurobipy as gb
import matplotlib.pyplot as plt
%config IPCompleter.greedy=True

## Task 1

### a)

In [2]:
#provide data 
df_main = pd.read_csv('prices1617.csv',index_col = 'date')
df_main.head()

,SGS,SWISSCOM,GIVAUDAN,ZURICH INSURANCE,NOVARTIS,ROCHE,CREDIT SUISSE,ADECCO,LAFARGEHOLCIM,ABB,...,LONZA,SWISS LIFE,GEBERIT,NESTLE,JULIUS BAER,SWISS RE,RICHEMONT,UBS,SIKA,SMI
date,,,,,,,,,,,,,,,,,,,,,
2016-01-01,1911,503.0,1823,258.4,86.80,276.4,20.929,68.047,50.30,17.96,...,151.078,271.3,340.2,74.55,48.66,98.15,72.10,19.52,60.335,8818.09
2016-01-08,1757,488.3,1714,241.4,82.10,263.0,19.028,62.368,46.00,16.43,...,143.668,257.2,318.1,70.30,44.18,93.25,66.05,17.46,58.584,8257.28
2016-01-15,1770,478.2,1772,242.8,80.35,256.5,18.054,59.356,42.26,16.18,...,138.017,262.3,332.3,70.10,42.02,92.60,63.10,16.71,58.451,8107.13
2016-01-22,1932,489.0,1812,224.4,82.90,265.3,17.359,60.837,44.12,16.77,...,143.575,256.8,342.4,72.10,42.59,92.60,64.35,16.83,58.818,8271.11
2016-01-29,1983,507.5,1907,225.8,78.50,263.9,17.369,61.726,42.92,17.57,...,144.779,259.6,361.8,75.20,43.25,94.80,66.25,16.83,60.951,8319.81

In [3]:
#index change
df_main.index = pd.to_datetime(df_main.index)
df_main.head()

,SGS,SWISSCOM,GIVAUDAN,ZURICH INSURANCE,NOVARTIS,ROCHE,CREDIT SUISSE,ADECCO,LAFARGEHOLCIM,ABB,...,LONZA,SWISS LIFE,GEBERIT,NESTLE,JULIUS BAER,SWISS RE,RICHEMONT,UBS,SIKA,SMI
date,,,,,,,,,,,,,,,,,,,,,
2016-01-01,1911,503.0,1823,258.4,86.80,276.4,20.929,68.047,50.30,17.96,...,151.078,271.3,340.2,74.55,48.66,98.15,72.10,19.52,60.335,8818.09
2016-01-08,1757,488.3,1714,241.4,82.10,263.0,19.028,62.368,46.00,16.43,...,143.668,257.2,318.1,70.30,44.18,93.25,66.05,17.46,58.584,8257.28
2016-01-15,1770,478.2,1772,242.8,80.35,256.5,18.054,59.356,42.26,16.18,...,138.017,262.3,332.3,70.10,42.02,92.60,63.10,16.71,58.451,8107.13
2016-01-22,1932,489.0,1812,224.4,82.90,265.3,17.359,60.837,44.12,16.77,...,143.575,256.8,342.4,72.10,42.59,92.60,64.35,16.83,58.818,8271.11
2016-01-29,1983,507.5,1907,225.8,78.50,263.9,17.369,61.726,42.92,17.57,...,144.779,259.6,361.8,75.20,43.25,94.80,66.25,16.83,60.951,8319.81

In [4]:
 df_p1 = df_main.drop('SMI', axis=1)

In [11]:
#compute wwekly returns on each stock
df_main_return = (df_main / df_main.shift(1) - 1).dropna()

df_p1_return = (df_p1 / df_p1.shift(1) - 1).dropna()
df_p1_return.head()

,SGS,SWISSCOM,GIVAUDAN,ZURICH INSURANCE,NOVARTIS,ROCHE,CREDIT SUISSE,ADECCO,LAFARGEHOLCIM,ABB,SWATCH,LONZA,SWISS LIFE,GEBERIT,NESTLE,JULIUS BAER,SWISS RE,RICHEMONT,UBS,SIKA
date,,,,,,,,,,,,,,,,,,,,
2016-01-08,-0.080586,-0.029225,-0.059792,-0.065789,-0.054147,-0.048480,-0.090831,-0.083457,-0.085487,-0.085189,-0.100514,-0.049048,-0.051972,-0.064962,-0.057009,-0.092067,-0.049924,-0.083911,-0.105533,-0.029021
2016-01-15,0.007399,-0.020684,0.033839,0.005800,-0.021315,-0.024715,-0.051188,-0.048294,-0.081304,-0.015216,0.011746,-0.039334,0.019829,0.044640,-0.002845,-0.048891,-0.006971,-0.044663,-0.042955,-0.002270
2016-01-22,0.091525,0.022585,0.022573,-0.075783,0.031736,0.034308,-0.038496,0.024951,0.044013,0.036465,0.029809,0.040270,-0.020968,0.030394,0.028531,0.013565,0.000000,0.019810,0.007181,0.006279
2016-01-29,0.026398,0.037832,0.052428,0.006239,-0.053076,-0.005277,0.000576,0.014613,-0.027199,0.047704,0.061548,0.008386,0.010903,0.056659,0.042996,0.015497,0.023758,0.029526,0.000000,0.036264
2016-02-05,-0.000504,-0.049261,-0.027268,-0.054916,-0.058599,-0.044335,-0.169440,-0.042397,-0.091100,0.001707,0.021814,-0.062060,-0.068952,-0.020730,-0.024601,-0.083931,-0.054325,-0.011321,-0.096257,-0.007104

### b) 
risk measures 05_risk measures and 06_mean variance portfolio

In [20]:
# Get array of stocks (without index SMI)
stocks = df_main_return.columns.drop('SMI')
stocks

Index(['SGS', 'SWISSCOM', 'GIVAUDAN', 'ZURICH INSURANCE', 'NOVARTIS', 'ROCHE',
       'CREDIT SUISSE', 'ADECCO', 'LAFARGEHOLCIM', 'ABB', 'SWATCH', 'LONZA',
       'SWISS LIFE', 'GEBERIT', 'NESTLE', 'JULIUS BAER', 'SWISS RE',
       'RICHEMONT', 'UBS', 'SIKA'],
      dtype='object')

In [21]:
# Compute expected returns 
expected_returns = df_main_return[stocks].mean()
expected_returns

SGS                 0.003030
SWISSCOM            0.000484
GIVAUDAN            0.002294
ZURICH INSURANCE    0.001777
NOVARTIS           -0.000143
ROCHE              -0.000754
CREDIT SUISSE      -0.000436
ADECCO              0.001316
LAFARGEHOLCIM       0.001546
ABB                 0.003941
SWATCH              0.001901
LONZA               0.005751
SWISS LIFE          0.002690
GEBERIT             0.002500
NESTLE              0.001295
JULIUS BAER         0.002501
SWISS RE           -0.000377
RICHEMONT           0.002426
UBS                 0.000021
SIKA                0.007679
dtype: float64

### c)

In [ ]:
sdfasdfsdf

### d)

## Task 2

### a)

### b)

### c)

## Task 4

### a)

### b)

### c)

### d)

## Task 5

### a)

### b)

### c)

### d)